<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324540826167-c2hdamncgti268slib40t0nmupka3nes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324540826167-c2hdamncgti268slib40t0nmupka3nes</string>
	<key>API_KEY</key>
	<string>AIzaSyBvBgfKUzzi1KuXZKJTR-M6V4QjhLG8UhA</string>
	<key>GCM_SENDER_ID</key>
	<string>324540826167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitsong.wallet</string>
	<key>PROJECT_ID</key>
	<string>cosmonautico-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmonautico-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324540826167:ios:41da674bea001cf6a575b2</string>
</dict>
</plist>